.global-actions {
  margin: 2rem auto 0;
  width: 32rem;
  display: flex;
  justify-content: space-around;
}

.counter-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.counter-cards > * {
  margin-top: 2rem;
}
